<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="automationwebapp_pom">
        <classes>
             <class name="tests.Profile.Activites">
                <methods>
                    <include name="clickAllInterestList"/>
                </methods>
            </class>
            <class name="tests.Profile.California">
                <methods>
                    <include name="californiaToggle"/>
                </methods>
            </class>
            <class name="tests.Profile.ClusterHolding">
                <methods>
                    <include name="clickCluster"/>
                    <include name="downloadCluster"/>
                </methods>
            </class>
            <class name="tests.Profile.Disclouser">
                <methods>
                    <include name="openPrivacyPolicyLink"/>
                    <include name="openCookiePolicy"/>
                    <include name="openGuardianTermsAndConditions"/>
                    <include name="openDataSources"/>
                    <include name="openFinancialStatements"/>
                    <include name="openCertificateIncorporation"/>
                    <include name="openIncorporationDocuments"/>
                    <include name="openSurveyorReport"/>
                    <include name="openSurveyorCoed"/>
                </methods>
            </class>
            <class name="tests.Profile.Email">
                <methods>
                    <include name="toggleEmail"/>
                </methods>
            </class>
            <class name="tests.Profile.interest">
                <methods>
                    <include name="clickAllInterestList"/>
                </methods>
            </class>
            <class name="tests.Profile.personalDetails">
                <methods>
                    <include name="changeFirstName"/>
                    <include name="changeLastName"/>
                    <include name="changeFirstNameWithoutLastName"/>
                    <include name="changeLastNameWithoutFirstName"/>
                    <include name="changeLastNameWithSymbol"/>
                    <include name="changeFirstNameWithSymbol"/>
                    <include name="changeMiddleName"/>
                    <include name="changeMiddleNameWithSymbol"/>
                    <include name="uploadProfilePic"/>
                    <include name="uploadProfilePicWithTextFile"/>
                    <include name="changeCity"/>
                    <include name="changeState"/>
                    <include name="changeCountry"/>
                    <include name="submitPasswordWithoutOldPassword"/>
                    <include name="submitPasswordWithoutNewPassword"/>
                    <include name="submitPasswordWithoutReenterPassword"/>
                    <include name="checkPasswordWithWrongOldPassword"/>
                    <include name="checkPasswordWithUnmatchedNewPassword"/>
                    <include name="checkPasswordWithoutSpecialCharacter"/>
                    <include name="checkPasswordSection"/>
                    <include name="changeAddressWithoutCity"/>
                    <include name="changeAddressWithoutState"/>
                    <include name="changeAddressWithoutCountry"/>
                </methods>
            </class>
            <class name="tests.Profile.profile">
                <methods>
                    <include name="isProfilePageVisible"/>
                    <include name="checkInterestSection"/>
                    <include name="checkActivitySection"/>
                    <include name="checkClusterHoldingSection"/>
                    <include name="checkTransactionSection"/>
                    <include name="checkEmailPrefSection"/>
                    <include name="checkCaliforniaSection"/>
                    <include name="checkDisclosureSection"/>
                </methods>
            </class>
            <class name="tests.Profile.transaction">
                <methods>
                    <include name="clickTransaction"/>
                    <include name="downloadTransaction"/>
                </methods>
            </class>
            <class name="tests.Squad.squads">
                <methods>
                    <include name="checkSquad"/>
                </methods>
            </class>
            <class name="tests.Squad.squadsCreate">
                <methods>
                    <include name="addFakeParticipant"/>
                    <include name="addEmptyParticipant"/>
                    <include name="addInvalidEmail"/>
                    <include name="addRealParticipant"/>
 <!--                   <include name="addRealParticipantWithoutAddInterest"/>
                    <include name="addRealParticipantWithoutMember"/>-->
                </methods>
            </class>
            <class name="tests.dashboard">
                <methods>
                    <include name="purchaseSGCThroughCard"/>
                    <include name="verifySGCCalculation"/>
                    <include name="verifyIfBlogLeadToBlogsPage"/>
                    <include name="verifyIfClickOnFindOutHowLeadsToSquadsPage"/>
                    <include name="verifyIfClickOnGiftCardLeadsToGiftingPage"/>
                    <include name="verifyIfFacebookIconLeadsToFacebookPage"/>
                    <include name="verifyIfInstagramIconLeadsToInstagramPage"/>
                    <include name="verifyIfYoutubeIconLeadsToYoutubePage"/>
                </methods>
            </class>
            <class name="tests.demo">
                <methods>
                    <include name="demoTest1"/>
                    <include name="demoTest2"/>
                </methods>
            </class>
            <class name="tests.gifting">
                <methods>
                    <include name="sendGiftThroughEmail"/>
                    <include name="sendGiftThroughPhone"/>
                    <include name="sendGiftWithoutCardThroughPhone"/>
                    <include name="sendGiftWithoutCardThroughEmail"/>
                    <include name="sendGiftWithoutMessageThroughPhone"/>
                    <include name="sendGiftWithoutMessageThroughEmail"/>
                    <include name="sendGiftsThroughEmailWithPayNow"/>
                    <include name="sendGiftsThroughPhoneWithPayNow"/>
                </methods>
            </class> 
            <class name="tests.login">
                <methods>
                    <include name="loginWithCorrectDetails"/>
                    <include name="loginWithWrongDetails"/>
                     <include name="forgotPassword"/>
 <!--                   <include name="forgotPasswordWithWrongRePassword"/>
                    <include name="forgotPasswordWithOutSymbol"/>
                    <include name="forgotPasswordWithOutNumber"/>
                    <include name="forgotPasswordWithOutWords"/>
                    <include name="forgotPasswordWithWrongUser"/> -->
                </methods>
            </class>
             <class name="tests.messaging">
                <methods>
                    <include name="sendMessage"/>
                    <include name="sendMessageToFakeUser"/>
                    <include name="sendMessageToMySelf"/>
                </methods>
            </class>
            <class name="tests.signup">
                <methods>
                    <include name="clickSubmitButtonWithEmptyFields"/>
                    <include name="clickSubmitButtonWithoutEmail"/>
                    <include name="clickSubmitButtonWithoutPhoneNUmber"/>
                    <include name="clickSubmitButtonWithInvalidPhoneNumber"/>
                    <include name="clickSubmitButtonWithInvalidEmail"/>
                    <include name="clickSubmitButtonWithEmailAndPassword"/>
                    <include name="creatingAccountWithoutFirstName"/>
                    <include name="creatingAccountWithoutLastName"/>
                    <include name="creatingAccountWithoutDob"/>
                    <include name="creatingAccountWithoutInvalidDob"/>
                    <include name="creatingAccountByGivingAllInputs"/>
                    <include name="creatAccountWithoutEnterCountryName"/>
                    <include name="creatAccountWithoutEnterCityName"/>
                    <include name="creatAccountWithoutEnterStateName"/>
                    <include name="creatAccountWithoutRePassword"/>
                    <include name="creatAccount"/>
                    <include name="clickSubmitButtonWithWrongOtp"/>
                </methods>
            </class> 
        </classes>
    </test>
</suite>
